{% extends template_base %}

{% block title %}
    Docteur libre - Edition de profil
{% endblock %}

{% block form_title %}
    <h1 class="text-center">Edition de profil</h1>
{% endblock %}

{% block button_name %}
    Modifier les infos
{% endblock %}