{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/home.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <h1>Bienvenue sur Docteur libre !</h1>
{% endblock %}
