{% extends 'base.html.twig' %}

{% block title %}
    Docteur libre - Inscription patient
{% endblock %}

{% block body %}
    <div class="container mt-4 col-md-4">
        <h1 class="text-center">Nouveau rendez-vous</h1>
        {{ form_start(appointment_form) }}
        {{ form_rest(appointment_form) }}
        {{ form_end(appointment_form) }}
    </div>
{% endblock %}
