{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4 text-center">
        {{ form_start(register_form, {'attr' : {'class' : 'boostrap_classes'}}) }}
            {{ form(register_form) }}
        {{ form_end(register_form) }}
    </div>
{% endblock %}
