{% extends 'infos.patient.html.twig' %}

{% block title %}
    Docteur libre - Inscription patient
{% endblock %}

{% block form_title %}
    <h1 class="text-center">Inscription patient</h1>
{% endblock %}

{% block button_name %}
    S'inscrire
{% endblock %}