{% extends 'base.html.twig' %}

{% block title %}
    Docteur libre - Recherche de docteur
{% endblock %}

{% block body %}
    <div class="container mt-4 col-md-4">
        <h1 class="text-center">Recherche</h1>
        {{ form_start(search_form) }}
        {{ form_rest(search_form) }}
        <button class="btn btn-primary">Confirmer</button>
        {{ form_end(search_form) }}
    </div>
{% endblock %}
